@page
@model net9购物网站.Pages.LogoutModel
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css" />
    <title>注销</title>
</head>
<body>
    <h1>您已成功注销</h1>
    <a href="/login">返回登录页面</a>
</body>
</html>
