@page "/payment/{id:int}"  
@model net9购物网站.Pages.PaymentModel  
@{  
   ViewData["Title"] = "支付页面";  
}  
<link rel="stylesheet" href="/css/style.css" />
<h1>支付页面</h1>  


@if (Model.Product != null)
{
    <div class="product-info">
        <p>商品名称: @Model.Product.Name</p>
        <p>价格: ¥@Model.Product.Price</p>
    </div>
}
else
{
    <div class="product-info">
        <p>商品信息不可用。</p>
    </div>
}


<form method="post">  
   @Html.AntiForgeryToken()  
   <button type="submit">确认支付</button>  
</form>  

@if (Model.Message != null)  
{  
   <p>@Model.Message</p>  
}
